/***** HTML Elements *****/

table {
    font-size: 0.75em;
    text-align: left;
}

img {
    max-width: 75%;
}

hr {
    border-color: black;
}

/***** Custom Classes *****/
/* navbar */
.navbar {
    margin-bottom: 0;
}

/* main section */
#main-section {
    background-image: url("../images/money_pile.jpg");
    background-size: cover;
    height: 100%;
    padding: 5% 5%;
}

.login-form {
    background-color: #fff;
    opacity: 0.95;
    border-radius: 15px;
    text-align: center;
    margin: 10% 35% 30%;
    padding: 10px;
    border-width: 5px;
}

.index-info {
    background-color: #fff;
    opacity: 0.95;
    text-align: center;
    margin: 5% 5%;
    padding: 5px 10px;
    border-width: 1px;
    border-style: solid;
}

.pos-return {
    background-color: #9cf4dc;
}

.neg-return {
    background-color: #ffe1e1;
}

.ticker {
    color: grey;
}