/***** HTML Elements *****/

/***** Custom Classes *****/
/* navbar */
.navbar {
    margin-bottom: 0;
}

/* main section */
#main-section {
    background-image: url("../images/money_pile.jpg");
    background-size: cover;
    height: 100%;
    padding: 5% 5%;
}

.login-form {
    background-color: #fff;
    opacity: 0.95;
    border-radius: 15px;
    text-align: center;
    margin: 10% 35% 30%;
    padding: 10px;
}

img {
    max-width: 75%;
}