<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Investment Tracker</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Major Stock Index Performance <span class="sr-only"></span></a></li>
        <li><a href="#">Investment Tracker</a></li>
        <li><a href="#">Returns Calculator</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Register</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
      </ul>
    </div>
  </div>
</nav>