{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/styles.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Ubuntu:wght@300;400;500&display=swap"
      rel="stylesheet">
{% endblock %}

{% block title %}Investment Tracker{% endblock %}

{% include "header.html" %}

{% block content %}

<div id="main-section">
  <form class="login-form" action="" method="post">
    <h2>Register</h2>
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label }}:<br>
      {{ form.username }}
      {% for error in form.username.errors %}
      <span class="error-text">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.email.label }}:<br>
      {{ form.email }}
      {% for error in form.email.errors %}
      <span class="error-text">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.password.label }}:<br>
      {{ form.password }}<br>
    </div>
    <div class="form-group">
      {{ form.password2.label }}:<br>
      {{ form.password2 }}
      {% for error in form.password2.errors %}
      <span class="error-text">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>

{% endblock %}